.navbar-inverse{
    margin-bottom: 0px;
    border-radius: 0px;
    padding:5px;
   
}
.dropdown-menu > li{
    margin-top: 10px;
    margin-bottom:10px;
}

/*Footer*/
html{
    box-sizing: border-box;
    height:100%;
}
body{
    min-height:100%;
    position:relative;
    padding-bottom:30px;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.footer {
    z-index: 3;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color:#222;
    color:#cccccc;
    padding-top: 15px;
}